* {
    border-sizing: border-box;
}

main {
    max-width: 960px;
    margin: auto;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    background: #f4f4f1;
    text-shadow: 0px 1px 1px #fff;
    padding: 20px
}

h1 {
    font-size: 24px;
    font-family: Sans-Serif;
    text-align: center;
    border-bottom: 1px solid grey;
    margin: 40px
}

.topo {
    position: relative;
}

.marker {
    visibility: hidden;
    position: absolute;    /*padding:10px;*/
    background-image: url('marker.png');
    background-height: 100px;
    background-width: 100px;
    width: 28px;
    height: 32px;
    background-repeat: no-repeat;
    z-index: 1;
}

.note {
    visibility: hidden;
    position: absolute;
    height: 30px;
    width: 130px;
    background-color: white;
    z-index: 2;
}

#map-canvas {
    height: 600px;
    width: 600px;
    background-color: black;
    margin-left: 50px;
    border: 1px solid black;
}


#panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}